
<section>
    <u>Objectives</u>
    <p>
        The objective of this game is to escape the maze you've found yourself trapped in.
    </p>
    <p>
        You also want to escape with most amount of treasure as you can. Gold is the most valueable, but is the rarest to find, silver is next up and slightly more abundant,
        and bronze is the least valueable and most common
    </p>
    <br />
    <u>Gameplay</u>
    <p>
        You will be placed in a chamber, with a varying number of exits leading in different directions.
    </p>
    <p>
        Each available direction will have a button indicating where you can go. Click on it and you will move into the next room in that direction.
        The room will change to reveal the new room you've entered.
    </p>
    <p>
        Continue like that through the maze, until you figure out where the exit is. The maze by default is maze up of a 5 x 5 grid of rooms, although you can change this in the settings.
    </p>
    <p>
        However, escaping isn't that simple...
    </p>
    <br />
    <u>Treasure</u>
    <p>
        There is a chance that a room has treasure in it. This is indicated by the image of a chest in the room, and a button named 'Treasure' in the top right.
    </p>
    <p>
        Clicking this button will bring up a chest listing what treasure lay within. Click 'Loot' to take the treasure and add it to your total. Or click away to leave it as it is.
    </p>
    <p>
        Once you've looted treasure from a room, the chest will disappear and you won't be able to loot it again.
    </p>
    <p>
        Collect as much treasure as you can, but careful, you might lose it...
    </p>
    <br />
    <u>Threats</u>
    <p>
        As you try and leave a room, you might be rudely interrupted by a threat! This may be in the form of a Troll, Skeleton, or Bat. You will have defeat this baddy before you can leave the room!
    </p>
    <p>
        There are two ways to overcome the threat - the first is to Lure it away. All monsters love treasure, so throw some on the ground and they'll forget all about you.
    </p>
    <p>
        However, the different monsters come at a different cost, and you wont be able to get the treasure back. The threat will try take your gold, failing that go for silver, and if all
        else fails they'll take a load of bronze.
    </p>
    <p>
        The other option is to fight the threat! Again, the bigger the threat, the stronger and harder they are to defeat.
    </p>
    <p>
        If your health is greater than its strength, you win, but you lose that amount of health in the fight. If you don't have enough health, you die!
    </p>
    <p>
        If you die, you reappear in the same room, with full health, but you will have lost all your treasure. The monster that killed you will have been weakened, however, ahead of another fight.
    </p>
    <p>
        Once you've defeated a threat, by either method, they won't return, which means you can travel back through the room without any worries.
    </p>
    <br />
    <u>Coins</u>
    <p>
        You might find that once you've looted treasure and defeated threats, that rooms begin to look the same. So to help, you can drop a coin in a room to give it a marker.
    </p>
    <p>
        However, each coin will subtract from your gold total, and if you have no gold at all then you're all out of luck! You can't drop any coins until you find some more gold.
    </p>
    <p>
        You can add as many coins to a room as you want, so you can come up with any system you want to indicate rooms, junctions or anything else you wish to remember.
    </p>
    <br />
    <u>Notes</u>
    <p>
        The aim is to get out with the most treasure, so consider wisely when you have to decide between 'Lure' and 'Fight'. Is it worth losing some treasure, to keep your health? Or should
        you risk dying to get through?
    </p>
    <p>
        Remember, you don't have to loot a treasure as soon as you find it, you could leave it as a landmark, or save it because you're low on health.
    </p>
    <p>
        Bats are more common, but deal less damage. Trolls are rare, but extremely strong.
    </p>

    <p>
        If you move through a series of rooms in a certain direction, and you notice no passages have appeared going to one of the sides, then you're probable going along an edge. This might help orientate yourself.
    </p>
</section>
